:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

}

html,
body {
  width: 100dvw;
  height: 100dvh;
  overflow: hidden;
  background-color: #171720;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root{
  width: 100%;
  height: 100%;
}

.main-button.display{
  display: block;
  opacity: 1;

}
.hide{
  display: none;
  opacity: 0;

}


/*enter button start*/
.main-button{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  
  display: none;
  opacity: 0;
  transition: opacity 0.5s ease-in, display 0.5s allow-discrete;
}

.main-button__container{
  width: 100%;
  /* margin-top: 5%; */
  margin-left: 20%;
}

.main-button__button {
  cursor: pointer;
  border-radius: 12px;
  /* border: 3px outset #888; */
  border: 3px outset #F17D29;
  position: relative;
  display: inline-block;
  /* padding: 15px 30px; */
  padding: 1vw 2vw;
  color: #eee;
  text-transform: uppercase;
  letter-spacing: 4px;
  overflow: hidden;
  
  box-shadow: 0 0 10px rgb(0, 0, 0, 1);
  font-family: verdana;
  font-size: 28px;
  font-weight: bolder;
  text-decoration: none;
  background:linear-gradient(160deg, #BD653B, #B04B11);
  text-shadow: 0px 0px 2px rgba(0, 0, 0, .5);

  transition: 0.2s;
}

.main-button__button:hover {
  border: 3px outset #ddd;
  color: #fff;
  background: linear-gradient(160deg, #BD653B, #B04B11);
  text-shadow: 0px 0px 4px #ccc;
  box-shadow: 0 0 10px #fff, 0 0 40px #fff, 0 0 80px #fff;
  transition-delay: 1s;
}

.main-button__button span {
  position: absolute;
  display: block;
}

.main-button__button span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #eee);
}
.main-button__button:hover span:nth-child(1) {
  left: 100%;
  transition: 1s;
}
.main-button__button span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #eee);
}
.main-button__button:hover span:nth-child(2) {
  top: 100%;
  transition: 1s;
  transition-delay: 0.25s;
}
.main-button__button span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #eee);
}
.main-button__button:hover span:nth-child(3) {
  right: 100%;
  transition: 1s;
  transition-delay: 0.5s;
}

.main-button__button span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #eee);
}
.main-button__button:hover span:nth-child(4) {
  bottom: 100%;
  transition: 1s;
  transition-delay: 0.75s;
}
/*enter button end*/

/*fullscreen button start*/
.fullscreen-button{
  position: absolute;
  top: 24px;
  right: 24px;
  z-index: 100;
  color: white;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.fullscreen-svg{
  width: 24px;
  height: 24px;
}
/*fullscreen button end*/
